:root {
  --primary-color: #00eeff;
  --secondary-color: #001aff;
  --tertiary-color: #c800ff;

  --vulcan-50: #f5f6fa;
  --vulcan-100: #e9ebf5;
  --vulcan-200: #cfd4e8;
  --vulcan-300: #a5b0d4;
  --vulcan-400: #7486bc;
  --vulcan-500: #5266a5;
  --vulcan-600: #3f4f8a;
  --vulcan-700: #344070;
  --vulcan-800: #2e385e;
  --vulcan-900: #2b324f;
  --vulcan-950: #0f111c;

  --turquoise-blue-50: #eafffe;
  --turquoise-blue-100: #cbfffe;
  --turquoise-blue-200: #9effff;
  --turquoise-blue-300: #5bfcff;
  --turquoise-blue-400: #00eeff;
  --turquoise-blue-500: #00d1e5;
  --turquoise-blue-600: #00a7c0;
  --turquoise-blue-700: #03849b;
  --turquoise-blue-800: #0d697d;
  --turquoise-blue-900: #105769;
  --turquoise-blue-950: #033a49;

  --magenta-50: #fef2ff;
  --magenta-100: #fae3ff;
  --magenta-200: #f5c6ff;
  --magenta-300: #f299ff;
  --magenta-400: #ec5dff;
  --magenta-500: #dc21ff;
  --magenta-600: #c800ff;
  --magenta-700: #a700cf;
  --magenta-800: #8a00a9;
  --magenta-900: #740689;
  --magenta-950: #4e005e;

  --blue-50: #e8f3ff;
  --blue-100: #d5e8ff;
  --blue-200: #b3d3ff;
  --blue-300: #85b5ff;
  --blue-400: #5687ff;
  --blue-500: #2f5aff;
  --blue-600: #0c27ff;
  --blue-700: #001aff;
  --blue-800: #061dcd;
  --blue-900: #10249f;
  --blue-950: #0a145c;
}
