@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins.ttf") format("truetype");
}

@font-face {
    font-family: "Sen";
    src: url("../fonts/sen.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sen", sans-serif;
}

p,
a,
button,
input,
label,
span,
i,
select,
option {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

:root {
    --primary-color: #0ef;
    --secondary-color: #001aff;
    --tertiary-color: #c800ff;
    --black-color: #0f111c;
}

/* SCROLLBAR */

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #fff;
}

*::-webkit-scrollbar-track:hover {
    background-color: #ddd;
}

*::-webkit-scrollbar-track:active {
    background-color: #ddd;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--tertiary-color);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #c800ff;
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background: linear-gradient(45deg, #c800ff, #001aff, #7986fa, #001aff, #c800ff);
    backdrop-filter: blur(50px);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
}

.nav__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #fff;
}

.nav__links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav__user {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__user a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav__user .link__cart {
    margin-right: 15px;
}

.nav__user a span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -17px;
    width: 24px;
    height: 24px;
    background-color: #c800ff;
    border-radius: 100%;
}

.nav__user a i {
    font-size: 30px;
    color: #fff;
}

.nav__links li a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.nav__links li .active::before {
    width: 100%;
    left: 0;
}

.nav__links li a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 100%;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav__links li a:hover::before {
    width: 100%;
    left: 0;
}

.nav__links li a i {
    font-size: 20px;
}

.submenu {
    display: none;
    position: absolute;
    background: #8709ff;
    border: none;
    z-index: 1000;
    margin-top: 4px;
    width: 200px;
    border-radius: 2px;
    padding: 15px 10px 15px 10px;
}

.nav__dropdown:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
}

.submenu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.link__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 30px;
    border-radius: 20px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.link__login:hover {
    background-color: #dfdfdf;
    color: #000;
}

.image_perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* LOGIN */
.container-login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, var(--primary-color), var(--tertiary-color));
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login .login__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 100px;
}

.container-login .login__image {
    margin-right: 25px;
    width: 150px;
    height: 150px;
    background: linear-gradient(to right, #5885ff, #6b6eff);
    border-radius: 50%;
    position: relative;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.container-login .login__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}

.container-login .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0f111c;
    padding: 70px 70px 30px 70px;
    border-radius: 10px;
}

.container-login .login .login__title {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container-login .login .login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding: 10px 0px;
}

.container-login .login .login__form .form-group {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
}

.container-login .login .login__form .input-validation {
    display: none;
}

.container-login .login .login__form .input-validation.error {
    display: block;
    color: rgb(243, 54, 54);
    font-size: 14px;
    font-weight: bold;
}

.container-login .login .login__form .form-group .login__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    flex: 1;
    background: linear-gradient(45deg, var(--primary-color), var(--tertiary-color));
    border-radius: 30px 0px 0px 30px;
}

.container-login .login .login__form .form-group .login__icon svg {
    width: 20px;
    height: 20px;
    color: #fff;
}

.container-login .login .login__form input {
    flex: 6;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    margin-left: 10px;
}

.container-login .login .login__form .remember-me {
    display: flex;
    width: max-content;
    margin: 10px 0px;
    align-items: center;
}

.container-login .login .login__form .remember-me label {
    color: #fff;
    font-size: 15px;
}

.container-login .login .login__form .remember-me input[type="checkbox"] {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.container-login .login .login__form .remember-me input[type="checkbox"]:checked {
    background-color: var(--tertiary-color) !important;
}

.container-login .login .login__form button {
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    background: linear-gradient(45deg, #0ef, #c800ff);
    transition: 0.2s ease;
    border-radius: 30px;
}

.container-login .login .login__form button:hover {
    box-shadow: 0 0 4px #fff;
}

.container-login .login .login__form button svg {
    width: 20px;
    height: 20px;
    color: #fff;
}

.container-login .login .login__form .login__forgot {
    font-size: 14px;
    margin-top: 20px;
}

.container-login .login .login__form .login__forgot a {
    color: #fff;
    font-weight: bold;
    position: relative;
}

.container-login .login .login__form .login__forgot a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 100%;
    width: 0;
    height: 3px;
    background-color: var(--tertiary-color);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.container-login .login .login__form .login__forgot a:hover {
    color: var(--tertiary-color);
}

.container-login .login .login__form .login__forgot a:hover::before {
    width: 100%;
    left: 0;
}

.container-login .login .login__form .login-register {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.container-login .login .login__form .login-register span {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: bold;
}

.container-login .login .login__form .login-register a {
    color: #fff;
    position: relative;
    font-size: 14px;
}

.container-login .login .login__form .login-register a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 100%;
    width: 0;
    height: 3px;
    background-color: var(--tertiary-color);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.container-login .login .login__form .login-register a:hover {
    color: var(--tertiary-color);
}

.container-login .login .login__form .login-register a:hover::before {
    width: 100%;
    left: 0;
}

.login__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login__social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    transition: 0.2s ease;
}

.login__social .login__social-facebook {
    background-color: #3b5998;
    color: #fff;
}

.login__social .login__social-google {
    background-color: #db4437;
    color: #fff;
}

.login__social .login__social-twitter {
    background-color: #00acee;
    color: #fff;
}

.login__social .login__social-twitter:hover {
    background-color: #0678a5;
}

.login__social .login__social-facebook:hover {
    background-color: #2d4e8e;
}

.login__social .login__social-google:hover {
    background-color: #c1351d;
}

.button-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: none;
    background-color: transparent;
    color: #fff;
    display: none;
}

.nav__user .nav__logo {
    display: none;
}

/* MAIN */

.main {
    margin-top: 70px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: var(--black-color);
    flex: 1;
}

.contenedor-general {
    width: 80%;
    height: 100%;
}

/* INDEX.HTML  */

/* SECTION POPULARES */
.contenedor-carousel {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.contenedor-carousel button {
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(45deg, var(--primary-color), var(--tertiary-color));
    height: 70px;
    border-radius: 4px;
    position: relative;
}

.contenedor-carousel #prevBtn {
    left: 30px;
    z-index: 50;
}

.contenedor-carousel #nextBtn {
    right: 30px;
    z-index: 50;
}

.contenedor-carousel button svg {
    height: 40px;
    width: 40px;
    color: #fff;
}

.carousel-container {
    position: relative;
    width: 90%;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
    display: block;
}

.carousel-slide .carousel-slide__content.slider-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 60px;
    width: 40%;
    padding: 20px;
    backdrop-filter: blur(20px);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.carousel-slide .carousel-slide__content.slider-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 60px;
    width: 40%;
    padding: 20px;
    backdrop-filter: blur(20px);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.carousel-slide .carousel-slide__content.slider-3 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px;
    width: 40%;
    padding: 20px;
    backdrop-filter: blur(20px);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.carousel-slide .carousel-slide__content h3 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
}

.carousel-slide .carousel-slide__content p {
    font-size: 14px;
    color: #000;
}

.carousel-slide .carousel-slide__content a {
    margin-top: 20px;
    margin-inline: auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid var(--black-color);
    color: var(--black-color);
    border-radius: 20px;
    font-size: 13px;
    width: 50%;
    font-weight: bold;
    text-transform: uppercase;
}

.carousel-slide .carousel-slide__content a:hover {
    background: var(--black-color);
    color: #fff;
}

/* SECTION CATEGORIAS */

.contenedor-categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 60px 0px;
}

.contenedor-categorias .categorias__mujer {
    background-size: cover;
    background-position: center;
    background-image: url("../images/category-mujer.webp");
}

.contenedor-categorias .categorias__hombre {
    background-size: cover;
    background-position: center;
    background-image: url("../images/category-hombre.webp");
}

.contenedor-categorias .categorias__niños {
    background-size: cover;
    background-position: center;
    background-image: url("../images/category-ninos.webp");
}

.contenedor-categorias .categorias__acesorios {
    background-size: cover;
    background-position: center;
    background-image: url("../images/category-accesorios.webp");

}

.contenedor-categorias a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease;
    width: 270px;
    height: 270px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.contenedor-categorias a:hover {
    height: 280px;
    width: 280px;
}

.contenedor-categorias a p {
    backdrop-filter: blur(2px);
    border: none;
}

/* SECTION OFERTAS */

.contenedor-ofertas {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenedor-ofertas .contenedor-ofertas__title {
    border-bottom: 3px solid #00acee;
    margin-bottom: 20px;
}

.contenedor-ofertas .contenedor-ofertas__title>h1 {
    font-size: 35px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(45deg, #c800ff, #0ef);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 10px;
}

.grid-ofertas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
    grid-gap: 10px;
}

.grid-ofertas__grid-1 {
    grid-area: 1 / 1 / 5 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-ofertas__grid-1 .grid-1__image {
    width: 300px;
    height: 500px;
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
}

.grid-ofertas__grid-1 .grid-1__content-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 20px;
    background: linear-gradient(45deg, #0ef, #c800ff);
    border-radius: 0px 5px 5px 0px;
}

.grid-1__content-text h1 {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    overflow-wrap: break-word;
}

.grid-1__content-text p {
    font-size: 20px;
    width: auto;
    color: #fff;
    overflow-wrap: break-word;
}

.grid-ofertas__grid-2 {
    grid-area: 1 / 3 / 3 / 5;
    display: flex;
}

.grid-ofertas__grid-2 .grid-2__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
    flex: 1;
}

.grid-ofertas__grid-2 .grid-2__content-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    flex: 2;
    background: linear-gradient(45deg, #0ef, #c800ff);
    border-radius: 0px 5px 5px 0px;
}

.grid-2__content-text h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    overflow-wrap: break-word;
}

.grid-2__content-text p {
    font-size: 16px;
    color: #fff;
    width: auto;
    overflow-wrap: break-word;
}

.grid-ofertas__grid-3 {
    grid-area: 3 / 3 / 5 / 5;
    display: flex;
}

.grid-ofertas__grid-3 .grid-3__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 5px 5px 0px;
    overflow: hidden;
    flex: 1;
}

.grid-ofertas__grid-3 .grid-3__content-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    flex: 1;
    background: linear-gradient(45deg, #0ef, #c800ff);
    border-radius: 5px 0px 0px 5px;
}

.grid-3__content-text h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    overflow-wrap: break-word;
}

.grid-3__content-text p {
    font-size: 16px;
    color: #fff;
    width: auto;
    overflow-wrap: break-word;
}


.grid-ofertas>div>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #982ffa;
    background: linear-gradient(#001aff 0%, #982ffa 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #982ffa;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #982ffa;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #982ffa;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #982ffa;
}

.swiper h2 {
    font-size: 30px;
    font-weight: bold;
    color: #982ffa;
    text-transform: uppercase;
    width: auto;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    position: static !important;
    width: max-content !important;
    margin: 40px auto 0px !important;
    background-color: #fff;
    padding: 5px 30px;
    border-radius: 50px;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    margin: 0px 5px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    height: 500px;
    border: 1px solid #dfdfdf;
}

.card__header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.card__body .card__body-title {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    width: auto;
    overflow-wrap: break-word;
}

.card__body .card__body-text {
    font-size: 14px;
    color: #000;
    width: auto;
    overflow-wrap: break-word;
}

.card__body .card__body-price-offer {
    font-size: 20px;
    color: #0678a5;
    font-weight: bold;
}

.card__body .card__body-price-regular {
    font-size: 14px;
    color: #000;
    text-decoration: line-through;
}

.card__footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.card__footer .card__footer-stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0px;
    margin-top: auto;
}

.card__footer .card__footer-stars .starts .light {
    color: #ded00f;
}

.card__footer .button__card {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
    color: #000;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
}

.card__footer .card__footer-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0px;
}

.card__footer .button__card.cart {
    color: #fff;
    background: linear-gradient(45deg, #0ef, #c800ff);
}

.card__footer .button__card:hover {
    background-color: #8709ff;
    color: #fff;
}

.card__footer .button__card svg {
    width: 20px;
    height: 20px;
}

/* SECTION POPULARES */

.contenedor-populares {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenedor-populares .contenedor-populares__title {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom: 3px solid #00acee;
    margin-bottom: 20px;
}

.custom-select {
    position: relative;
    display: inline-block;
    border-radius: 50px;
    background: linear-gradient(45deg, #c800ff, #0ef);
}

.custom-select__content {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.custom-select__content .icon-select {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-select__content .icon-select i {
    color: #fff;
    font-size: 30px;
}

.select-selected {
    padding: 10px;
    border: none;
    width: 200px;
    color: #fff;
    text-align: center;
    flex: 3;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.select-items {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 50;
    width: 100%;
    margin-top: 5px;
}

.select-items div {
    padding: 10px 20px;
    font-family: "Quicksand", sans-serif;
}

.select-items div:hover {
    background-color: #f2f2f2;
}

.contenedor-populares__title>h2 {
    font-size: 35px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(45deg, #c800ff, #0ef);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

/*** CART.HTML ***/

.contenedor-cart {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 30px;
}

.cart__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cart__title h1 {
    font-size: 35px;
    font-weight: bold;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #c800ff, #0ef);
    -webkit-background-clip: text;
    background-clip: text;
}

.cart-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:5px; 
}

.precio-p-u{
    display: none !important;
}

.cart-table .cart-table__col{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 3px;
    padding: 8px 0px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    width: 100%;
    margin-bottom: 20px;
}

.cart-table .cart-table__col h3{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.cart-table .cart-table__col.producto{
    width:50% 
}

.cart-table .cart-table__col.precio{
    width: 20%;
}

.cart-table .cart-table__col.cantidad{
    width: 20%;
}

.cart-table .cart-table__col.subtotal{
    width: 10%;
}

.cart__items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart__items .cart__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    width: 100%;
    position: relative; 
}

.cart__item .cart__item-minus{
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(to right, var(--primary-color), var(--tertiary-color));
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.cart__item .cart__item-minus svg{
    color: #fff;
}

.cart__item .cart__item-minus:hover{ 
    background: linear-gradient(to right, rgb(4, 197, 210), #a903d6);
}

.cart__item .cart__item-producto{
    display: flex; 
    flex: 1;
}

.cart__item .cart__item-content{
    display: flex;
    width: 100%;
    flex: 1;
}

.cart__item .cart__item-content .cart__item-cantidad{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 5px;
    width: 40%; 
}

.cart__item .cart__item-content .cart__item-precio{
    width: 40%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__item  .cart__item-content .cart__item-subtotal{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cart__item .cart__item-producto .cart__item-image{
    width: 100px;
    height: 100px;
    padding: 5px;
}

.cart__item  .cart__item-producto .cart__item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.cart__item .cart__item-producto .cart__item-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
}

.cart__item .cart__item-producto .cart__item-info h3{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.cart__item-cantidad input{
    padding: 12px;
    border: none;
    background-color: #dfdfdf;
    color: #000;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

.cart__item-cantidad button{
    padding: 10px;
    border: none;
    background-color: #dfdfdf;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__item-cantidad button:hover{
    background-color: var(--black-color);
    color: #fff;
}

.cart__item-cantidad button svg{
    width: 23px;
    height: 23px;
}

.cart__item-cantidad button:hover svg{
    color:#fff;
}

.cart__item .cart__item-precio, .cart__item .cart__item-subtotal{
    text-align: center;
}

.cart__item .cart__item-precio p{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.cart__item .cart__item-subtotal p{
    font-size: 18px;
    font-weight: bold;
    color: #0678a5;
}

/* FOOTER */

footer {
    background: linear-gradient(45deg, #c800ff, #132afb);
    margin-top: auto;
}

footer .contenedor-footer {
    display: flex;
    align-items: start;
    justify-content: center;
    color: #fff;
    width: 80%;
    margin: auto;
    flex-direction: column;
}

.contenedor-footer .footer__col-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-direction: row;
    width: 100%;
}

.footer__contacto {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
}

.footer__contacto h3,
.footer__help h3,
.footer__info h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__contacto p,
.footer__contacto a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: #fff;
}

.footer__contacto p svg {
    width: 18px;
    height: 18px;
    color: #fff;
}

.footer__help {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
}

.footer__help .footer__help-links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    flex-direction: column;
}

.footer__help .footer__help-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: #fff;
    position: relative;
}

.footer__help .footer__help-links a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 100%;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.footer__help .footer__help-links a:hover::before {
    width: 100%;
    left: 0;
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
}

.footer__info .footer__info-links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
}

.footer__info .footer__info-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: #fff;
    position: relative;
}

.footer__info .footer__info-links a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 100%;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.footer__info .footer__info-links a:hover::before {
    width: 100%;
    left: 0;
}

.footer__col-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-direction: row;
    width: 100%;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    flex-direction: row;
}

.footer__social .footer__social-redes {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.footer__social .footer__social-redes a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--black-color);
}

.footer__social .footer__social-redes a svg {
    width: 20px;
    height: 20px;
    color: #fff;
}

.footer__social .footer__social-redes a:hover {
    background-color: #dfdfdf;
}

.footer__social .footer__social-redes a:hover svg {
    color: #000;
}

.footer__social .footer__social-lenguaje {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.footer__social .footer__social-lenguaje select {
    padding: 9px 40px;
    border-radius: 4px;
    background-color: var(--black-color);
    color: #fff;
    border: none;
}

.footer__social .footer__social-lenguaje select option {
    color: #000;
}

.footer__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer__copy p {
    font-size: 14px;
    color: #fff;
}

.footer__copy .footer__copy-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__copy .footer__copy-links a {
    font-size: 14px;
    color: #fff;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}


/* RESPONSIVE */

@media(max-width:1150px) {

    .grid-1__content-text h1 {
        font-size: 30px;
    }

    .grid-1__content-text p {
        font-size: 18px;
    }

    .grid-2__content-text h1 {
        font-size: 20px;
    }

    .grid-2__content-text p {
        font-size: 14px;
    }

    .grid-3__content-text h1 {
        font-size: 20px;
    }

    .grid-3__content-text p {
        font-size: 14px;
    }
}

@media(max-width:1080px) {

    header {
        height: auto;
    }

    .nav {
        flex-direction: column-reverse;
    }

    .button-hamburger {
        display: flex;
    }

    .nav__links {
        display: none;
        flex-direction: column;
        margin: 30px;
        opacity: 0;
        transition: opacity 0.7s ease;
    }

    .nav__links.active {
        display: flex;
        opacity: 1;
    }

    .nav__links .nav__logo {
        display: none;
    }

    .nav__user {
        width: 100%;
        justify-content: end;
        gap: 20px;
    }

    .nav__user .link__login {
        padding: 7px 10px;
        font-size: 12px;
    }

    .nav__user .nav__logo {
        display: block;
        margin-right: auto;
    }

    .cart-table .cart-table__col h3 {
        font-size: 12px;
    }

}

@media(max-width:950px) {

    .grid-ofertas {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
    }

    .grid-ofertas__grid-1 {
        height: 200px;
    }

    .grid-ofertas__grid-1 .grid-1__image {
        height: 200px;
    }

    .grid-ofertas__grid-1 .grid-1__content-text h1 {
        font-size: 20px;
    }

    .grid-ofertas__grid-1 .grid-1__content-text p {
        font-size: 14px;
    }

    .grid-ofertas__grid-2 {
        height: 200px;
    }

    .grid-ofertas__grid-3 {
        height: 200px;
    }

    .contenedor-carousel .carousel-slide .carousel-slide__content {
        left: 0;
        right: 0;
    }

    .contenedor-carousel .carousel-slide .carousel-slide__content h3 {
        font-size: 22px;
    }

    .contenedor-carousel .carousel-slide .carousel-slide__content p {
        font-size: 12px;
    }

    .contenedor-carousel .carousel-slide .carousel-slide__content a {
        padding: 5px 10px;
        font-size: 10px;
    }

    .cart-table .cart-table__col.cantidad, .cart-table .cart-table__col.precio, .cart-table .cart-table__col.subtotal{
        flex:1; 
    }

    .cart__item .cart__item-producto{
        justify-content: space-between;
    }

    .cart__item .cart__item-producto .cart__item-image{
        width: 200px;
        height: 150px;
    }

    .cart__item .cart__item-producto .cart__item-info{
        padding: 20px;
    }

    .cart__item-content{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .cart__item .cart__item-content .cart__item-cantidad, .cart__item .cart__item-content .cart__item-precio, .cart__item .cart__item-content .cart__item-subtotal{
        width: 100%;
    }

}

@media (max-width:800px) {

    .contenedor-carousel {
        width: 100%;
        padding: 0px;
        height: 200px;
        margin-top: 200px;
    }

    .contenedor-carousel .carousel-slide .carousel-slide__content {
        margin: 10px auto;
        width: 90%;
        padding: 20px;
    }

    .contenedor-carousel .carousel-slide .carousel-slide__content h3 {
        font-size: 20px;
    }

    .contenedor-carousel .carousel-slide .carousel-slide__content p {
        font-size: 12px;
    }

    .contenedor-carousel .carousel-slide .carousel-slide__content a {
        padding: 5px 10px;
        font-size: 10px;
    }

    .contenedor-carousel button {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedor-carousel button i {
        font-size: 20px;
    }

    .contenedor-carousel #nextBtn {
        position: absolute;
        right: 20px;
    }

    .contenedor-carousel #prevBtn {
        position: absolute;
        left: 20px;
    }

    .carousel-slide img {
        width: 100%;
        height: 500px;
        object-fit: contain;
    }

    .contenedor-categorias {
        margin-top: 200px;
        gap: 0px;
    }

    .contenedor-categorias a {
        width: 100%;
        height: 70px;
        border-radius: 0px;
        transition: 0.2s ease;
    }

    .contenedor-categorias a:hover {
        height: 300px;
        width: 100%;
    }

    .contenedor-ofertas .ofertas__cards .card {
        width: 100%;
    }

}

@media(max-width:730px){

    .cart__item .cart__item-producto{
        margin: 20px 0px 0px 20px;
    }

    .precio-p-u{
        display: block !important;
    }

    .precio-pu{
        display: none;
    }

    .cart__items .cart__item{
        flex-direction: column;
    }
}

@media(max-width:640px) {

    .grid-ofertas__grid-1 .grid-1__content-text h1 {
        font-size: 15px;
    }

    .grid-ofertas__grid-1 .grid-1__content-text p {
        font-size: 12px;
    }

    .grid-ofertas__grid-2 .grid-2__content-text h1 {
        font-size: 15px;
    }

    .grid-ofertas__grid-2 .grid-2__content-text p {
        font-size: 12px;
    }

    .grid-ofertas__grid-3 .grid-3__content-text h1 {
        font-size: 15px;
    }

    .grid-ofertas__grid-3 .grid-3__content-text p {
        font-size: 12px;
    }

    .select-selected {
        width: 100px;
    }
}

@media (max-width:425px) {

    .grid-ofertas__grid-1 .grid-1__content-text p {
        font-size: 10px;
    }

    .contenedor-populares__title {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}