@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins.ttf") format("truetype");
}

@font-face {
    font-family: "Sen";
    src: url("../fonts/sen.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6{
    font-family: "Sen", sans-serif;
}

p, a, button, input, label, span, i{
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

:root {
    --primary-color: #0ef;
    --secondary-color: #001aff;
    --tertiary-color: #c800ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    z-index: 100;
    position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #c800ff, #001aff, #c800ff);
    backdrop-filter: blur(50px);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
}

.nav__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #fff;
}

.nav__links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav__user {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__user a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav__user .link__cart {
    margin-right: 15px;
}

.nav__user a span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -17px;
    width: 24px;
    height: 24px;
    background-color: #c800ff;
    border-radius: 100%;
}

.nav__user a i {
    font-size: 30px;
    color: #fff;
}

.nav__links li a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.nav__links li .active::before {
    width: 100%;
    left: 0;
}

.nav__links li a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 100%;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav__links li a:hover::before {
    width: 100%;
    left: 0;
}

.nav__links li a i {
    font-size: 20px;
}

.link__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 30px;
    border-radius: 20px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.link__login:hover {
    background-color: #dfdfdf;
    color: #000;
}

.image_perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.container-login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #0ef, #c800ff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login .login__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
}

.container-login .login__image {
    margin-right: 25px;
    height: 100%;
    background-color: #fff;
}

.container-login .login__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.container-login .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid #c800ff;
}

.container-login .login .login__title {
    font-weight: bold;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}

.container-login .login .login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding: 40px;
}

.container-login .login .login__form .form-group {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-login .login .login__form .form-group .login__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    flex: 1;
    background: linear-gradient(45deg, #0ef, #001aff);
}

.container-login .login .login__form .form-group .login__icon i {
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login .login .login__form input {
    flex: 4;
    height: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    margin-left: 10px;
}

.container-login .login .login__form button {
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    background: linear-gradient(45deg, #0ef, #c800ff);
    transition: 0.2s ease;
    border-radius: 30px;
}

.container-login .login .login__form button:hover {
    box-shadow: 0 0 4px #fff;
}

.container-login .login .login__form button i {
    font-size: 20px;
}

.login__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login__social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    transition: 0.2s ease;
}

.login__social .login__social-facebook {
    background-color: #3b5998;
    color: #fff;
}

.login__social .login__social-google {
    background-color: #db4437;
    color: #fff;
}

.login__social .login__social-twitter {
    background-color: #00acee;
    color: #fff;
}

.login__social .login__social-twitter:hover {
    background-color: #0678a5;
}

.login__social .login__social-facebook:hover {
    background-color: #2d4e8e;
}

.login__social .login__social-google:hover {
    background-color: #c1351d;
}

.button-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: none;
    background-color: transparent;
    color: #fff;
    display: none;
}

.nav__user .nav__logo {
    display: none;
}

/* Main */

.main {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-general {
    width: 80%;
}

/* SECTION POPULARES  */

.contenedor-populares {
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedor-populares button {
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(45deg, #0ef, #c800ff);
    height: 90px;
    border-radius: 4px;
    position: relative;
}

.contenedor-populares #prevBtn {
    left: 30px;
    z-index: 1000;
}

.contenedor-populares #nextBtn {
    right: 30px;
    z-index: 1000;
}

.contenedor-populares button i {
    font-size: 40px;
}


.carousel-container {
    position: relative;
    width: 90%;
    height: 500px;
    /* Altura de pantalla completa */
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
    display: block;
}

.carousel-slide .carousel-slide__content.slider-1{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 60px;
    width: 40%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.carousel-slide .carousel-slide__content.slider-2{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 60px;
    width: 40%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.carousel-slide .carousel-slide__content.slider-3{
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px;
    width: 40%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.carousel-slide .carousel-slide__content h3{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
        color: transparent;
    background-image: linear-gradient(45deg, #c800ff, rgb(0, 128, 255));
    -webkit-background-clip: text;
    background-clip: text;
}

.carousel-slide .carousel-slide__content p {
    font-size: 14px;
    color: #000;
}

.carousel-slide .carousel-slide__content a {
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
    color: #000;
    border: none;
    border-radius: 20px;
    font-size: 13px;
}

.carousel-slide .carousel-slide__content a:hover {
    background-color: #8709ff;
    color: #fff;
}

/* SECTION CATEGORIAS */

.contenedor-categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 60px 0px;
}

.contenedor-categorias .categorias__mujer {
    background-size: cover;
    background-position: center;
    background-image: url("../images/category-mujer.webp");
}

.contenedor-categorias .categorias__hombre {
    background-size: cover;
    background-position: center;
    background-image: url("../images/category-hombre.webp");
}

.contenedor-categorias .categorias__niños {
    background-size: cover;
    background-position: center;
    background-image: url("../images/category-ninos.webp");
}

.contenedor-categorias .categorias__acesorios {
    background-size: cover;
    background-position: center;
    background-image: url("../images/category-accesorios.webp");

}

.contenedor-categorias a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease;
    width: 270px;
    height: 270px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.contenedor-categorias a:hover {
    height: 280px;
    width: 280px;
}

.contenedor-categorias a p {
    backdrop-filter: blur(2px);
    border: none;
}

/* SECTION OFERTAS */

.contenedor-ofertas {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenedor-ofertas>h2 {
    font-size: 35px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(45deg, #c800ff, #0ef);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: left;
    margin: 20px;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 3px solid #00acee;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card__oferta {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    height: 100%;
    border: 1px solid #dfdfdf;
}

.card__header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__body .card__body-title {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    width: auto;
    overflow-wrap: break-word;
}

.card__body .card__body-text {
    font-size: 14px;
    color: #000;
    width: auto;
    overflow-wrap: break-word;
}

.card__body .card__body-price-offer {
    
    font-size: 20px;
    color: #0678a5;
    font-weight: bold;
}

.card__body .card__body-price-regular {
   
    font-size: 14px;
    color: #000;
    text-decoration: line-through;
}

.card__body .card__body-stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0px;
}

.card__body .card__body-stars .starts .light {
    color: #ded00f;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.card__footer .button__card {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
    color: #000;
    border: none;
    border-radius: 20px;
    font-size: 13px;
}

.card__footer .button__card.cart {
    color: #fff;
    background: linear-gradient(45deg, #0ef, #c800ff);
}

.card__footer .button__card:hover {
    background-color: #8709ff;
    color: #fff;
}

.card__footer .button__card i {
    font-size: 20px;
}

@media(max-width:1080px) {

    .nav {
        flex-direction: column-reverse;
    }

    .button-hamburger {
        display: flex;
    }

    .nav__links {
        display: none;
        flex-direction: column;
        margin: 30px;
        opacity: 0;
        transition: opacity 0.7s ease;
    }

    .nav__links.active {
        display: flex;
        opacity: 1;
    }

    .nav__links .nav__logo {
        display: none;
    }

    .nav__user {
        width: 100%;
        justify-content: end;
        gap: 20px;
    }

    .nav__user .link__login {
        padding: 7px 10px;
        font-size: 12px;
    }

    .nav__user .nav__logo {
        display: block;
        margin-right: auto;
    }

}


@media(max-width:950px){

    .contenedor-populares .carousel-slide .carousel-slide__content {
        margin: 10px auto;
        width: 70%;
        padding: 15px;
    }

    .contenedor-populares .carousel-slide .carousel-slide__content h3 {
        font-size: 22px;
    }

    .contenedor-populares .carousel-slide .carousel-slide__content p {
        font-size: 12px;
    }

    .contenedor-populares .carousel-slide .carousel-slide__content a {
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media (max-width:800px) {

    .contenedor-populares {
        width: 100%;
        padding: 0px;
        height: 200px;
        margin-top: 150px;
    }

    .contenedor-populares .carousel-container {
        width: 100%;
    }

    .contenedor-populares .carousel-slide .carousel-slide__content {
        margin: 10px auto;
        width: 90%;
        padding: 20px;
    }

    .contenedor-populares .carousel-slide .carousel-slide__content h3 {
        font-size: 20px;
    }

    .contenedor-populares .carousel-slide .carousel-slide__content p {
        font-size: 12px;
    }

    .contenedor-populares .carousel-slide .carousel-slide__content a {
        padding: 5px 10px;
        font-size: 10px;
    }

    .contenedor-populares button {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedor-populares button i {
        font-size: 20px;
    }

    .contenedor-populares #nextBtn {
        position: absolute;
        right: 20px;
    }

    .contenedor-populares #prevBtn {
        position: absolute;
        left: 20px;
    }

    .carousel-slide img {
        width: 100%;
        height: 500px;
        object-fit: contain;
    }

    .contenedor-categorias {
        margin-top: 200px;
        gap: 0px;
    }

    .contenedor-categorias a {
        width: 100%;
        height: 70px;
        border-radius: 0px;
        transition: 0.2s ease;
    }

    .contenedor-categorias a:hover {
        height: 300px;
        width: 100%;
    }

    .contenedor-ofertas .ofertas__cards .card__oferta {
        width: 100%;
    }

}